main
  if headerImage
    div.top-image-holder
      div.top-image(style="transform:translate3d(0,0,0);opacity:1;background-image:url(" + relPath(headerImage) + ");")
  article(class=headerImage ? 'offset' : '')
    div(class=headerImage ? 'top-image-spacer' : '')
      .site-meta
        h1= site_name
        if site_subtitle
          span= site_subtitle
    section
      != yield
    -// TODO: paginate post list
    - function getPostData(path) { var walk = public; for (var i = 0; i < path.length; i++) { walk = walk[path[i]]; } return walk._data['index']; }
    section.post-list
      each post, i in public._data._posts.slice(0).reverse()
        if i > 0
          hr
        section.post-meta
          - var postData = getPostData(post.split('/'))

          h1
            a(href=relPath(post))= postData.title
          span.author= postData.author
          span at
          span= postData.date
          if postData.tags && postData.tags.length > 0
            span.tags= '[tags: ' + postData.tags.join(', ') + ']'
