main
  if headerImage
    div.top-image-holder
      div.top-image(style="transform:translate3d(0,0,0);opacity:1;background-image:url(" + relPath(headerImage) + ");")
  article(class=headerImage ? 'offset' : '')
    div(class=headerImage ? 'top-image-spacer' : '')
      .site-meta
        h1= site_name
        if site_subtitle
          span= site_subtitle
    section
      != yield
    section
      ul
        each post in public._data._posts
          li
            - var linkTitle
            if post in public
              - linkTitle = public[post]._data['index'].title
            else
              - linkTitle = public._data[post].title;
            a(href=relPath(post))= linkTitle
