mixin meta(title, author, tags)
  .post-meta
    h1= title
    span.author= author
    span at
    span= date
    if tags && tags.length > 0
      span.tags= '[tags: ' + tags.join(', ') + ']'
main
  if headerImage
    div.top-image-holder
      div.top-image(style="transform:translate3d(0,0,0);opacity:1;background-image:url(" + relPath(headerImage) + ");")
  article(class=headerImage ? 'offset' : '')
    if headerImage
      div.top-image-spacer
        +meta(title, author, tags)
    else
      +meta(title, author, tags)
    section
      != yield
    if disqus_shortname && !commentsClosed
      div(id="disqus_thread")
      script!= 'var disqus_shortname = "' + disqus_shortname + '";'
      script
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      a(href="http://disqus.com" class="dsq-brlink") comments powered by
